.education{
    padding:0rem 3rem 0rem 3rem;
    display: flex;
    flex-direction: row;
    /* height: 40vh; */
    margin-bottom: 12rem;
    margin-top: 9rem;
}

.e-awesome{
    display: flex;
    width: 20%;
    justify-content: center;
    align-items: center;
    /* top: -2vh;   */
}

.e-cards{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

@media screen  and (max-width: 480px){
    .education{
        display: flex;
        flex-direction: column;
    }

    .e-awesome>span:nth-of-type(1){
        font-size: 30px;
        margin-bottom: 1rem;
        display: flex;
        align-items: center;
    }
}
